* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 text-decoration: none;
 scroll-behavior: smooth;
 font-family: 'Poppins';
}
:root {
--bg-color: #1b1b1b;
--second-bg-color: #2c2c2c;
--text-color: #fff;
--main-color: #ff3c78;
}
html {
 font-size: 62.5%;
 overflow-x: hidden;
}
body {
 background-color: var(--bg-color);
 color: var(--text-color);
}
.header {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 background: black;
 padding: 2rem 10%;
 backdrop-filter: blur(10px);
 display: flex;
 justify-content: space-between;
 align-items: center;
 z-index: 1000;
}
#menu-icon{
 font-size: 3.5rem;
 color: var(--main-color);
 display: none;
}
.logo{
 font-size: 3rem;
 color: var(--text-color);
 font-weight: 800;
 cursor: pointer;
 transition: 0.3s ease-in-out;
}
.logo:hover{
 transform: scale(1.1);
}
span{
 background: linear-gradient(270deg, rgb(110, 0, 110) 10%, rgb(197, 9, 197) 100%);
 background-clip: text;
 color: transparent;
}
.navbar a{
 font-size: 1.8rem;
 color: var(--text-color);
 margin-left: 4rem;
 font-weight: 500;
 transition: 0.3s ease-in-out;
 border-bottom: 3px solid transparent;
}
.navbar a:hover{
 color: var(--main-color);
 border-bottom: 3px solid var(--main-color);
}